.profile-page__container{
    width: 100%;
    /* max-width: 100%; */
    min-height: 90vh;

    /* background-image: url('../../assets/galaxy1.jpg');
    background-size: cover;
    background-repeat: no-repeat; */

    display: flex;
    align-items: center;

}


.profile__container {
    color: var(--text-color);
    width: 50%;
    /* position: sticky; */


    margin: 2rem auto;
    padding: 2.5rem;

    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.125);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.profile__container label{
    width: 100%;
}
  
.profile__container input[type=file]::file-selector-button{
    background-color: var(--primary-color);
    font-family: Silkscreen;
    padding: .5rem .8rem;
    border-radius: .25rem;
    color: var(--text-color);
    cursor: pointer;
    font-size: .8rem;
    border: 1px solid var(--primary-color);
}
.profile__container input[type=file]::file-selector-button:hover{
    color: #333;
    background-color: aliceblue;
}



.profile-buttons__container{
    display: flex;
    align-items: center;
    gap: 2rem;
}


@media screen and (max-width: 1100px) {
    .profile__container{
        width: 70%;
    }
}