/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  right: 0;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--text-color);
}

/* Color/shape of burger icon bars on hover */
.bm-burger-bars-hover {
  opacity: 20%;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}
.bm-cross-button > span {
  top: 2px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: var(--text-color);
  width: 5px !important;
    height: 20px !important;
}


/* Sidebar wrapper styles */
.bm-menu-wrap {
  position: fixed;
  top: 0; 
  bottom: 0; 
  right: 0; 
  width: 100%;
  background: transparent;
}

/* General sidebar styles */
.bm-menu {
  background: #211d24;
  padding: 2.5em 1.5em 0;
  font-size: 1.3rem;
  height: 100%;
  box-shadow: none; 
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: #d1d1d1;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: #ffffff;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-button{
  margin-top: 2rem;
}