@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

@font-face {
  font-family: minecraft;
  src: url(../src/assets/MinecraftRegular.otf);
}

body {
  font-family: Silkscreen;
  font-size: 1.1em;
  background-color: #2D2727;
  
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--text-color);

}

#root{
    width: 100vw;
    min-height: 100vh;
}
:root{
    --bg-color: #2B2730;
    --primary-color: #6554AF;
    --text-color: #EDE4FF;
}

input, textarea {
    color: var(--text-color);
    padding: 8px;
    font-size: 1em;
    font-family: minecraft;
    display: block;
    width: 100%;
    box-sizing: border-box;
    background: rgba(17, 25, 45, 0.83);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(17, 25, 45, 1);
  }

  .error {
    color: red;
    background: pink;
    border: 1px solid red;
    border-radius: 4px;
    padding: 8px;
    margin: 10px 0;
  }
  .success{
    color: green;
    background: lightgreen;
    border: 1px solid green;
    border-radius: 4px;
    padding: 8px;
    margin: 10px 0;
  }

  .btn {
    background: var(--primary-color);
    font-family: Silkscreen;
    padding: .5rem .8rem;
    border-radius: .25rem;
    color: var(--text-color);
    cursor: pointer;
    font-size: 1em;
    border: 1px solid var(--primary-color);
  }
  .btn:hover {
    color: #333;
    background-color: aliceblue;
  }


/* home page responsiveness*/
@media screen and (max-width: 1000px) {
  .navbar__logo {
    width: 28%; 
  }
}
@media screen and (max-width: 800px) {
  .navbar__links-container a {
    font-size: 1.3rem;
  }
  .header__container{
    flex-direction: column;
    justify-content: flex-start;
    padding: 2rem 0 0 0;
  }
  .header-content__container {
    width: 90%;
    gap: 0.5rem;
  }
  .header-img__container {
    width: 100%;
  }
  .header__title {
    width: 100%;
  }
  .header__text {
    padding-left: 0.5rem;
  }
  .header__text p, span{
    font-size: 0.8em;
  }
}
@media screen and (max-width: 650px) {
  .navbar__logo {
    width: 65%; 
  }
}

/* home page responsiveness */
@media screen and (max-width: 1100px) {
  .auth__container{
      width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .auth__container {
    width: 90%; 
    padding: 1.4rem;
  }
  .auth-buttons__container{
    gap: 1rem;
  }
  .auth-buttons__container  span{
    font-size: .8rem;
  }
}

/* profile page responsiveness*/
@media screen and (max-width: 1100px) {
  .profile__container{
    width: 70%;
  }
}
@media screen and (max-width: 800px) {
  .profile__container{
    width: 90%;
  }
}

/* devs page responsiveness*/
@media screen and (max-width: 1100px) {
  .devs__list-container{
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .devs__list-container{
    width: 99%;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)); 
    
  }
  .devcard__img{
    width: 75%;
  }
}

@media screen and (max-width: 500px){
  .devcard__text{
    font-size: .82rem;
  }
  .devcard__img{
    width: 100%;
  }
}

/* portfolio page responsiveness*/
@media screen and (max-width: 500px) {
  .portolio__container{
    width: 95%;
  }
  .portfolio__header-texts h1{  
    font-size: 1.8rem;
  }
  .portfolio_image{
    width: 30%;
  }
  .potfolio__bio{
    font-size: 1rem;
  }

}
@media screen and (max-width: 650px) {
  .repos__container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}